:root {
  --search-hamburger-heigth: 38px;
}

.header-section {
  padding: 20px 20px 0 20px;
}

.logo {
  font-family: Phosphate, Georgia, "Times New Roman", Times, serif;
  color: #252422;
  font-size: 1.7rem;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 10px;
}

/* CONTENEDOR de input & hamburger */
.header-bar-wrapper {
  display: flex;
  justify-content: center;
}

/* caja de búsqueda */
.search-bar input {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  padding: 0 15px;
  width: calc(var(--one-card-width) - 55px);
  margin-right: 5px;
}

input:focus {
  outline: none;
}

.search-bar {
  /* width: calc(var(--one-card-width) - 55px); */
}

/* burger menu container */
.nav-bar {
  background-color: #fffcf2;
  min-width: 50px;
  display: inline-block;
  text-align: center;
}

.header-styles {
  border: none;
  border-radius: 10px 7px 0 0;
  height: var(--search-hamburger-heigth);
}

.hamburger-menu-icon {
  line-height: var(--search-hamburger-heigth);
}

header ul {
  display: none;
}

/* el problema es que el salto de 1 a 2 tarjetas está en 684px */
/* @media (min-width: 480px) {} */
@media (min-width: 684px) {
  .search-bar input {
    width: calc(var(--two-cards-width) - 55px);
  }

  header ul {
    display: initial;
  }
}

/* siguiente: 1014px (3 tarjetas) */
