/* HEADER */
.header-section {
  padding: 20px 20px 0 20px;
}

/* LOGO */
.logo {
  font-family: Phosphate, Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10px;
  font-size: 2.8rem;
  letter-spacing: 4.2px;
  font-weight: lighter;
  color: var(--color-black-magic);

  text-align: center;
}

/* esto creo que no tiene ningún efecto => */
.logo:hover {
  text-decoration: none;
  color: initial;
}

/* MY ACCOUNT ICON */
.my-account {
  display: none;
}

/* SEARCH BAR + NAVIGATION MENU */
.navbar-wrapper-tactile {
  display: flex;
  justify-content: center;
}

/* search bar */
.search-bar input {
  font-family: "Anonymous Pro", monospace, "Courier New", Courier;
  font-size: 1rem;
  padding: 0 15px;
  width: calc(var(--one-card-width) - 55px);
  margin-right: 5px;
}

/* navigation menu */
.nav-bar-tactile {
  background-color: #fffcf2;
  min-width: 50px;
  display: inline-block;
  text-align: center;
}

.header-styles {
  border: none;
  border-radius: 10px 7px 0 0;
  height: var(--navbar-mobile-heigth);
}

.menu-text {
  display: none;
}

.hamburger-menu-icon {
  line-height: var(--navbar-mobile-heigth);
}

.navbar-wrapper-desktop {
  display: none;
}

/* TABLET */
@media (min-width: 684px) {
  /* MY ACCOUNT ICON */
  .my-account {
    display: none;
  }

  /* SEARCH BAR + NAVIGATION MENU */
  .header-styles {
    height: var(--navbar-tablet-heigth);
  }

  /* search bar */
  .search-bar input {
    width: calc(var(--two-cards-width) - 135px);
  }

  /* navigation menu */
  .nav-bar-tactile {
    min-width: 130px;
    display: flex;
    justify-content: space-evenly;
  }

  .menu-text {
    display: inline;
    line-height: var(--navbar-tablet-heigth);
  }

  .hamburger-menu-icon {
    line-height: var(--navbar-tablet-heigth);
  }
}

/* DESKTOP */
@media (min-width: 1014px) {
  .header-section {
    position: relative;
  }

  /* MY ACCOUNT ICON */
  .my-account {
    position: absolute;
    top: 35px;
    right: 7.5rem;
    display: flex;
    align-items: center;
  }

  .my-account-icon {
    padding-right: 10px;
    font-size: 1.8rem;
    color: var(--color-floral-white);
  }

  /* SEARCH BAR + NAVIGATION MENU */
  .nav-bar-tactile {
    display: none;
  }

  .navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* width: var(--three-cards-width); */
  }

  /* search bar */
  .search-bar input {
    width: calc(var(--three-cards-width) - 525px);
  }

  /* navigation menu */
  .navbar-wrapper-desktop {
    /* ojo, esto son solo los botones, sin el input */
    display: initial;
  }

  .navbar-wrapper-desktop ul {
    display: flex;
    padding-left: 0;
  }

  .navbar-wrapper-desktop li {
    display: inline;
    width: 165px;
    text-align: center;
    background-color: #fffcf2;
    margin-left: 10px;
  }

  .navbar-wrapper-desktop a {
    line-height: var(--navbar-tablet-heigth);
    /* color: var(--color-black-magic); */
    text-align: center;

    padding-top: calc(var(--navbar-tablet-heigth) / 2);
    padding-bottom: calc(var(--navbar-tablet-heigth) / 2);

    /* Esto es un poco chapucero pero no he encontrado otra
    forma de que todo el ancho de los botones sea clickable */
    padding-left: 30px;
    padding-right: 30px;
  }

  .navbar-wrapper-desktop .navbar-btn-fav > a {
    color: #fff;
  }

  #test-btn-encendido {
    background-color: var(--color-orange);
  }
}
