.films-section {
  background-color: #252422;
  display: flex;
  justify-content: center;
}

.films-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.film-card {
  display: flex;
  /* Tamaño original */
  /* height: 245px;
  max-width: 240px; */
  height: 319px;
  /* max-width: 312px; */
  max-width: var(--one-card-width);

  margin-bottom: 16px;
  border-radius: 20px;
  border-top: 37px solid #403d39;
  border-right: 10px solid #403d39;
  border-bottom: 37px solid #403d39;
  border-left: 10px solid #403d39;
  background-color: #403d39;
  overflow: hidden;
  position: relative;
  /* box-shadow: 10px 10px 10px yellow; */
}

.film-card img {
  border-radius: 20px;
  /* object-fit: cover; */
  object-position: center top;
}

.star {
  position: absolute;
  top: 4px;
  right: 4px;
  color: red;
  font-size: 40px;
}

.star-circle {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 50px;
}

/* .load-more-btn {
  text-align: center;
  padding-bottom: 30px;
} */

.genre-filter-section {
  background-color: #fffcf2;
  color: #eb5e28;
  height: 345px;
  text-transform: uppercase;
  text-align: center;
}

.genre-btn {
  margin: 0;
  padding-top: 25px;
  color: #403d39;
  font-weight: bold;
}

/* TODO: Ampliar tamaño de la flecha */
.arrow-filter {
}

.genre-title {
  margin-top: 0;
}

.filtered-film {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background-color: black;
}

/* TODO: Ampliar tamaño de las flechas */
.filtered-films-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Screens > 480 px */
@media (min-width: 480px) {
  .logo {
    color: yellow;
  }

  :root {
    /* --mobile-width: 700px; */
  }

  .films-section {
    /* display: flex;
    justify-content: center; */
    /* margin: 0 auto; */
  }

  .films-wrapper {
    flex-direction: row;
    gap: 19px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .film-card {
    /* height: 245px;
    max-width: 240px; */
  }

  /* .load-more-btn {} */
}

/*
ESTO NO SIRVE PARA DISPOSITIVOS TÁCTILES
PERO SE PODRÁ USAR PARA ESCRITORIO
=> los botones laterales de la peli filtrada se
ponen grises y grandes al hacer hover

.filtered-films-flex .material-icons {
  padding: 80px 10px;
}
.filtered-films-flex .material-icons:hover {
  background-color: grey;
} */
