.films-section {
  background-color: #252422;
  display: flex;
  justify-content: center;
}

.films-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.film-card {
  display: flex;
  /* Tamaño original */
  /* height: 245px;
  max-width: 240px; */
  height: 319px;
  /* max-width: 312px; */
  max-width: var(--one-card-width);

  margin-bottom: 16px;
  border-radius: 20px;
  border-top: 37px solid #403d39;
  border-bottom: 37px solid #403d39;
  border-left: 10px solid #403d39;
  border-right: 10px solid #403d39;
  background-color: #403d39;
  overflow: hidden;
  position: relative;
  /* box-shadow: 10px 10px 10px yellow; */
}

.film-card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* object-fit: cover; */
  /* creo que esto no tiene ningún efecto => */
  object-position: center top;
}

.star {
  position: absolute;
  top: 4px;
  right: 4px;
  color: var(--color-orange);
  font-size: 35px;
}

.star-circle {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 45px;
}

/* .load-more-btn {
  text-align: center;
  padding-bottom: 30px;
} */

.genre-filter-section {
  background-color: #fffcf2;
  color: var(--color-orange);
  height: 450px;
  text-transform: uppercase;
  text-align: center;
}

.genre-btn {
  margin: 0;
  padding-top: 25px;
  color: #403d39;
  font-weight: bold;
}

[class*="arrow"] {
  font-size: 3rem;
}

/* .arrow-filter {
  font-size: 2.5rem;
} */

.genre-title {
  margin-top: 0;
}

.filtered-film {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background-color: black;
}

.filtered-films-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.genre-film-2,
.genre-film-3 {
  display: none;
}

.genre-list {
  display: none;
}

/* @media (min-width: 480px) { */
@media (min-width: 684px) {
  /* SECTION: LISTA DE PELÍCULAS */
  .films-wrapper {
    flex-direction: row;
    gap: 19px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .film-card img {
    /* position: relative; */
    /* z-index: 0; */

    /* ESTILOS MOBILE
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-position: center top; */
  }

  .film-card {
    position: relative;
  }

  .film-info {
    position: absolute;
    color: #fff;
    font-size: 1rem;
    width: calc(var--(--one-card-width) - 20px);
    max-height: 245px;
    overflow: scroll;
    line-height: 1;
    border-radius: 20px;
    padding: 0 25px;

    /* transition */
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
  }

  .film-card:hover .film-info {
    opacity: 1;
    visibility: visible;
    cursor: pointer;

    color: black;
    background-color: #fff;
  }

  .film-card:hover img {
    visibility: hidden;
  }

  .film-info-text {
    /* 
    overflow: hidden; */
  }

  /* SECCIÓN: GENRE FILTER */
  .genre-filter-mobile {
    display: none;
  }

  .genre-filter-section {
    height: 370px;
    display: flex;
    justify-content: center;
  }

  .genre-list {
    display: initial;
    margin: 44px 0;
  }

  .genre-list ul {
    margin: 0;
    height: 280px;
    width: 278px;
    padding: 0 102px;
  }

  .genre-list a {
    display: flex;
    align-content: space-between;
    padding: 6px 0;
  }

  .genre-list li {
    /* esto quita los bullets points */
    display: inline;
    color: #403d39;
    font-size: 1.5rem;
  }

  /* .genre-list a:first-child {
    font-weight: bold;
  } */

  .genre-title {
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
    padding-bottom: 6px;
    margin: 0;
  }

  #test-orange {
    color: var(--color-orange);
  }
}

/*
ESTO NO SIRVE PARA DISPOSITIVOS TÁCTILES
PERO SE PODRÁ USAR PARA ESCRITORIO
=> los botones laterales de la peli filtrada se
ponen grises y grandes al hacer hover

.filtered-films-flex .material-icons {
  padding: 80px 10px;
}
.filtered-films-flex .material-icons:hover {
  background-color: grey;
} */
