.logo {
  font-family: Phosphate, Georgia, "Times New Roman", Times, serif;
  font-size: 2.8rem;
  letter-spacing: 4.2px;
  font-weight: lighter;
  color: var(--color-black-magic);
  margin: 20px;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 83px;
}

.log-in-wrapper {
  width: 100%;
  margin: 0 20px;
  max-width: 540px;
  position: relative;
}

/* TOP BAR */
.top-bar {
  height: 93px;
  background-color: var(--color-black-magic);
  border-radius: 20px 20px 0 0;
  border-bottom: 4px solid var(--color-stark-white);
  position: relative;
}

.top-bar-border {
  height: 89px;
  border-right: 5px solid var(--color-black-magic);
  border-radius: 20px 20px 0 0;
  position: absolute;
  position: absolute;
  top: 0;
  width: 100%;
}

.line-1 {
  height: 34px;
  width: 25px;
  position: absolute;
  top: 9px;
  left: 25px;
  transform: skew(18deg);
  background-color: var(--color-stark-white);
  box-shadow: 50px 0 var(--color-stark-white), 100px 0 var(--color-stark-white),
    150px 0 var(--color-stark-white), 200px 0 var(--color-stark-white),
    250px 0 var(--color-stark-white), 300px 0 var(--color-stark-white),
    350px 0 var(--color-stark-white), 400px 0 var(--color-stark-white),
    450px 0 var(--color-stark-white);
}

.line-2 {
  height: 34px;
  width: 25px;
  position: absolute;
  top: 49px;
  left: 25px;
  transform: skew(-18deg);
  background-color: var(--color-stark-white);
  box-shadow: 50px 0 var(--color-stark-white), 100px 0 var(--color-stark-white),
    150px 0 var(--color-stark-white), 200px 0 var(--color-stark-white),
    250px 0 var(--color-stark-white), 300px 0 var(--color-stark-white),
    350px 0 var(--color-stark-white), 400px 0 var(--color-stark-white),
    450px 0 var(--color-stark-white);
}

/* FORM BAR */
.log-in-form {
  display: table;
  width: 100%;
}

.log-in-form .form-row {
  display: table-row;
  background-color: var(--color-space-shuttle);
}

.log-in-form label {
  font-size: 1rem;
  display: table-cell;
  padding-left: 10px;
  color: var(--color-floral-white);
  background-color: var(--color-black-magic);
  line-height: 26px;
  border-bottom: 4px solid var(--color-stark-white);
}

.log-in-form input {
  display: table-cell;
  width: 100%;
  color: var(--color-floral-white);
  background-color: var(--color-space-shuttle);
  border: none;
  line-height: 26px;
  border-bottom: 4px solid var(--color-stark-white);
  padding-left: 12px;
}

/* FOTGOT PASSWORD BAR */
.forgot-bar {
  font-size: 1rem;
  line-height: 26px;
  background-color: var(--color-black-magic);
  padding-left: 10px;
  border-bottom: 4px solid var(--color-stark-white);
}

.forgot-bar a {
  color: var(--color-orange);
}

/* DATE & LINKS BAR */
.date-links-bar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  line-height: 50px;
  font-size: 0.9rem;
  color: var(--color-floral-white);
  background-color: var(--color-black-magic);
  border-bottom: 4px solid var(--color-stark-white);
}

.date,
.remember {
  padding-left: 10px;
  padding-right: 10px;
}

/* remember me form */
.date-links-bar .remember {
  border-left: 5px solid var(--color-stark-white);
  border-right: 5px solid var(--color-stark-white);
}

[type="checkbox"] {
  vertical-align: middle;
}

.remember-form input {
  outline: none;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  -webkit-appearance: none;
  background-color: var(--color-floral-white);
}

.remember-form input:checked {
  background-color: var(--color-orange);
}

.date-links-bar .log-in-btn {
  flex-grow: 1;
  background-color: var(--color-orange);
}

.submit-form input {
  background-color: var(--color-orange);
  color: var(--color-floral-white);
  font-family: "Anonymous Pro", monospace;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* BOTTOM BAR */
.bottom-bar {
  height: 25px;
  background-color: var(--color-black-magic);
  border-radius: 0 0 20px 20px;
}

.text {
  color: var(--color-floral-white);
  font-size: 1rem;
  margin-top: 70px;
}

/* TABLET */
@media (min-width: 560px) {
  .log-in-wrapper {
    max-width: 520px;
  }

  .line-1 {
    background-color: var(--color-floral-white);
    box-shadow: 50px 0 var(--color-floral-white),
      100px 0 var(--color-floral-white), 150px 0 var(--color-floral-white),
      200px 0 var(--color-floral-white), 250px 0 var(--color-floral-white),
      300px 0 var(--color-floral-white), 350px 0 var(--color-floral-white),
      400px 0 var(--color-floral-white), 450px 0 var(--color-floral-white);
  }

  .line-2 {
    background-color: var(--color-floral-white);
    box-shadow: 50px 0 var(--color-floral-white),
      100px 0 var(--color-floral-white), 150px 0 var(--color-floral-white),
      200px 0 var(--color-floral-white), 250px 0 var(--color-floral-white),
      300px 0 var(--color-floral-white), 350px 0 var(--color-floral-white),
      400px 0 var(--color-floral-white), 450px 0 var(--color-floral-white);
  }
}

/* DESKTOP */
@media (min-width: 684px) {
  .log-in-wrapper {
    max-width: 550px;
  }

  .top-bar {
    height: 160px;
  }

  .line-1 {
    height: 58px;
    width: 40px;
    top: 20px;
    background-color: var(--color-floral-white);
    box-shadow: 75px 0 var(--color-floral-white),
      150px 0 var(--color-floral-white), 225px 0 var(--color-floral-white),
      300px 0 var(--color-floral-white), 370px 0 var(--color-floral-white),
      450px 0 var(--color-floral-white);
  }

  .line-2 {
    height: 58px;
    width: 40px;
    top: 88px;
    background-color: var(--color-floral-white);
    box-shadow: 75px 0 var(--color-floral-white),
      150px 0 var(--color-floral-white), 225px 0 var(--color-floral-white),
      300px 0 var(--color-floral-white), 370px 0 var(--color-floral-white),
      450px 0 var(--color-floral-white);
  }

  .log-in-form label {
    line-height: 40px;
  }

  .log-in-form input {
    line-height: 40px;
  }

  .forgot-bar {
    line-height: 40px;
  }

  .date-links-bar {
    line-height: 80px;
    font-size: 1rem;
  }

  .log-in-btn input {
    font-size: 1rem;
  }

  .bottom-bar {
    height: 40px;
  }
}
