.logo {
  font-family: Phosphate, Georgia, "Times New Roman", Times, serif;
  font-size: 2.8rem;
  letter-spacing: 4.2px;
  font-weight: lighter;
  color: var(--color-black-magic);
  margin: 20px;
}

main {
  display: flex;
  justify-content: center;

  /* just for testing */
  margin-top: 83px;
}

.log-in-wrapper {
  width: 100%;
  margin: 0 20px;
  max-width: 500px;
}

/* TOP BAR */
.top-bar {
  height: 85px;
  background-color: var(--color-black-magic);
  border-radius: 20px 20px 0 0;
  border-bottom: 4px solid var(--color-stark-white);
}

/* FORM BAR */
.log-in-form {
  display: table;
  width: 100%;
}

.log-in-form .form-row {
  display: table-row;
  background-color: var(--color-space-shuttle);
}

.log-in-form label {
  font-size: 1rem;
  display: table-cell;
  padding-left: 10px;
  color: var(--color-floral-white);
  background-color: var(--color-black-magic);
  line-height: 26px;
  border-bottom: 4px solid var(--color-stark-white);
}

.log-in-form input {
  display: table-cell;
  width: 100%;
  color: var(--color-floral-white);
  background-color: var(--color-space-shuttle);
  border: none;
  line-height: 26px;
  border-bottom: 4px solid var(--color-stark-white);
}

/* FOTGOT PASSWORD BAR */
.forgot-bar {
  font-size: 1rem;
  line-height: 26px;
  background-color: var(--color-black-magic);
  padding-left: 10px;
  border-bottom: 4px solid var(--color-stark-white);
}

.forgot-bar a {
  color: var(--color-orange);
}

/* DATE & LINKS BAR */
.date-links-bar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  /* align-content: space-around; */
  line-height: 50px;
  font-size: 0.9rem;
  color: var(--color-floral-white);
  background-color: var(--color-black-magic);
  border-bottom: 4px solid var(--color-stark-white);
}

.date,
.remember {
  padding-left: 10px;
  padding-right: 10px;
}

/* remember me form */
.date-links-bar .remember {
  border-left: 5px solid var(--color-stark-white);
  border-right: 5px solid var(--color-stark-white);
}

[type="checkbox"] {
  vertical-align: middle;
}

/*  COPIADO DE STACK OVERFLOW */
.remember-form input {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-floral-white);
  border-radius: 50%;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.remember-form input:checked {
  background-color: var(--color-orange);
}
/*  COPIADO DE STACK OVERFLOW */

/* .date-links-bar .log-in-btn {
  border-left: 5px solid var(--color-stark-white);
  background-color: var(--color-orange);
  
} */

/* .date-links-bar .log-in-btn a {
  display: block;
  color: var(--color-floral-white);
} */

.date-links-bar .log-in-btn {
  flex-grow: 1;
  background-color: var(--color-orange);
  /* padding-left: 0px;
  padding-right: 0px; */
}

.submit-form input {
  background-color: var(--color-orange);
  color: var(--color-floral-white);
  font-family: "Anonymous Pro", monospace;
  border: none;
  /* line-height: 48px; */
  /* line-height: 100%; */

  cursor: pointer;
  width: 100%;

  /* padding-right: 10px;
  padding-left: 10px; */
  /* text-align: center; */
}

/* BOTTOM BAR */
.bottom-bar {
  height: 25px;
  background-color: var(--color-black-magic);
  border-radius: 0 0 20px 20px;
}

.text {
  color: var(--color-floral-white);
  font-size: 1rem;
  margin-top: 70px;
}

@media (min-width: 684px) {
  .top-bar {
    height: 160px;
  }

  .log-in-form label {
    line-height: 40px;
  }

  .log-in-form input {
    line-height: 40px;
  }

  .forgot-bar {
    line-height: 40px;
  }

  .date-links-bar {
    line-height: 80px;
    font-size: 1rem;
  }

  .log-in-btn input {
    font-size: 1rem;
  }
}

@media (min-width: 1014px) {
}
