/* FILM CONTAINER */
.film-wrapper {
  background-color: var(--color-black-magic);
}

.film-title {
  padding: 25px;
  text-align: center;
  color: var(--color-floral-white);
}

/* film player */
.film-player {
  display: flex;
  justify-content: center;
}

.film-player-border-outer {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  height: 283px;
  width: var(--one-card-width);
  background-color: var(--color-space-shuttle);
  position: relative;
}

.film-player-border-inner {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-radius: 20px;
  height: 196px;
  width: calc(var(--one-card-width) - 20px);
  /* temp color - para probar */
  /* background-color: white; */
  background-color: black;
}

.film-player-img {
  /* margin: 7px; */
  /* 16px queda bien arriba */
  margin: 16px 8px 0px 8px;
  border-radius: 15px;
  width: calc(var(--one-card-width) - 30px);
  /* nota: overflow necesario para que border-radius funcione */
  overflow: hidden;
}

/* vídeo */
.film-player-video {
  position: absolute;
  top: 26px;
  padding: 0 10px;
}

/* FILM ICONS */

/* rate icon */
.film-rate-circle-btn {
  position: absolute;
  bottom: 15px;
  left: 17px;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  background: var(--color-floral-white);
}

.film-rate-number-btn {
  position: absolute;
  bottom: 23px;
  left: 21px;
}

/* favourite/star icon */
.star {
  position: absolute;
  bottom: 16px;
  left: 70px;
  color: var(--color-orange);
  font-size: 35px;
}

.star-circle {
  position: absolute;
  bottom: 11px;
  left: 65px;
  color: var(--color-floral-white);
  font-size: 45px;
}

/* play icon */
.film-play-btn {
  position: absolute;
  right: 16px;
  bottom: 7px;
  font-size: 35px;
  color: var(--color-floral-white);
}

/* FILM INFO */

/* film details */
.film-details {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: var(--one-card-width);
  color: var(--color-floral-white);
}

table {
  padding: 10px 10px;
}

th {
  text-align: left;
  display: flex;
  align-items: flex-start;
  padding-right: 5px;
}

td {
  padding-bottom: 10px;
}

/* synopsis */
.film-synopsis {
  padding: 10px 10px;
  color: var(--color-floral-white);
}

/* RELATED SECTION */
.related-title {
  background-color: var(--color-floral-white);
}

.related-films-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-floral-white);
  padding-bottom: 35px;
}

.related-title {
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
}

.related-film-2,
.related-film-3,
.related-film-4 {
  display: none;
}

/* TABLET */
@media (min-width: 684px) {
  .logo {
    color: violet;
  }

  /* FILM CONTAINER */
  .film-wrapper {
  }

  /* film player */
  .film-player-border-outer {
    /* origianl 323 */
    height: 473px;
    width: var(--two-cards-width);
  }

  .film-player-border-inner {
    /* origianl 246 */
    height: 396px;

    width: calc(var(--two-cards-width) - 20px);
  }

  .film-player-img {
    width: 100%;
    margin: 23px 8px 0px 8px;

    /* margin: 16px 8px 0px 8px;
    border-radius: 15px;
    width: calc(var(--one-card-width) - 30px);
    overflow: hidden; */
  }

  /* vídeo */
  .film-player-video {
    top: 33px;
  }

  /* FILM INFO */

  /* film details */
  .film-details {
    margin-left: auto;
    margin-right: auto;
    width: var(--two-cards-width);

    /* display: flex;
    justify-content: flex-start; */
  }

  th {
    padding-right: 20px;
  }

  /* synopsis */
  .film-synopsis {
    width: var(--two-cards-width);
    margin-left: auto;
    margin-right: auto;
  }

  /* RELATED SECTION */
  .related-films {
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
  }

  .filter-arrow-left,
  .filter-arrow-right {
    line-height: 50px;
    height: 50px;
    margin: 0 10px;
    background-color: #ccc5b9;
  }

  .related-film-2,
  .related-film-3 {
    display: initial;
  }

  .related-film-item {
    border-radius: 25px;
    padding: 0.5rem;
  }
}

/* DESKTOP */
@media (min-width: 1014px) {
  .logo {
    color: greenyellow;
  }

  /* film player */
  .film-player-border-outer {
    height: 683px;
    width: var(--three-cards-width);
  }

  .film-player-border-inner {
    height: 606px;
    width: calc(var(--three-cards-width) - 20px);
  }

  /* vídeo */
  .film-player-video {
    top: 45px;
  }

  /* FILM INFO */
  .film-details,
  .film-synopsis {
    width: var(--three-cards-width);
  }

  .film-player-img {
    width: 100%;
    margin: 35px 15px 0px 15px;

    /* margin: 16px 8px 0px 8px;
    border-radius: 15px;
    width: calc(var(--one-card-width) - 30px);
    overflow: hidden; */
  }

  /* RELATED SECTION */
  .related-film-4 {
    display: initial;
  }
}

/* lo viejo de arriba */

/*
.film-player-border-inner {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-radius: 20px;
  height: 246px;
  width: calc(var(--one-card-width) - 20px);
  background-color: var(--color-black-magic);
}

.film-player-img {
  margin: 7px;
  border-radius: 15px;
  width: calc(var(--one-card-width) - 30px);
  overflow: hidden;
}

/* FILM ICONS */
