:root {
  --navbar-mobile-heigth: 38px;
  --navbar-tablet-heigth: 54px;
  --one-card-width: 312px;
  --two-cards-width: 643px;
  --three-cards-width: 973px;
  --color-orange: #eb5e28; /* sorbus */
  --color-floral-white: #fffcf2;
  --color-black-magic: #252422;
  --color-space-shuttle: #403d39;
  --color-stark-white: #ccc5b9;
}

@font-face {
  font-family: "Phosphate";
  src: url("../assets/fonts/phosphate.ttc") type("ttc");
}

body {
  font-family: "Anonymous Pro", monospace;
  background-color: var(--color-stark-white);
}

header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 1rem;
  margin: 0;
}

h1 {
  padding: 25px;
  text-align: center;
  color: var(--color-floral-white);
}

h2,
h3 {
  font-size: 1rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: initial;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-orange);
}

input:focus,
video:focus {
  outline: none;
}

.material-icons {
  color: var(--color-black-magic);
  text-align: center;
}

.material-icons:hover,
.social-icons i:hover {
  color: var(--color-orange);
}

.center {
  text-align: center;
}

/* white squares */
.global-white-squares {
  margin: 0 auto;
  height: 17px;
  width: 17px;
  background-color: var(--color-floral-white);
  box-shadow: 35px 0 var(--color-floral-white),
    -35px 0 var(--color-floral-white), 70px 0 var(--color-floral-white),
    -70px 0 var(--color-floral-white), 105px 0 var(--color-floral-white),
    -105px 0 var(--color-floral-white), 140px 0 var(--color-floral-white),
    -140px 0 var(--color-floral-white), 175px 0 var(--color-floral-white),
    -175px 0 var(--color-floral-white), 210px 0 var(--color-floral-white),
    -210px 0 var(--color-floral-white), 245px 0 var(--color-floral-white),
    -245px 0 var(--color-floral-white), 280px 0 var(--color-floral-white),
    -280px 0 var(--color-floral-white), 315px 0 var(--color-floral-white),
    -315px 0 var(--color-floral-white), 350px 0 var(--color-floral-white),
    -350px 0 var(--color-floral-white), 385px 0 var(--color-floral-white),
    -385px 0 var(--color-floral-white), 420px 0 var(--color-floral-white),
    -420px 0 var(--color-floral-white), 455px 0 var(--color-floral-white),
    -455px 0 var(--color-floral-white), 490px 0 var(--color-floral-white),
    -490px 0 var(--color-floral-white), 525px 0 var(--color-floral-white),
    -525px 0 var(--color-floral-white), 560px 0 var(--color-floral-white),
    -560px 0 var(--color-floral-white), 595px 0 var(--color-floral-white),
    -595px 0 var(--color-floral-white);
}

.global-white-squares.top {
  border-radius: 0 0 5px 5px;
}

.global-white-squares.bottom {
  border-radius: 5px 5px 0 0;
}
