:root {
  /* --mobile-width: 300px; */
  --navbar-mobile-heigth: 38px;
  --navbar-tablet-heigth: 54px;
  --one-card-width: 312px;
  --two-cards-width: 643px;
  --three-cards-width: 973px;
  --color-orange: #eb5e28; /* sorbus */
  --color-floral-white: #fffcf2;
  --color-black-magic: #252422;
  --color-space-shuttle: #403d39;
  --color-stark-white: #ccc5b9;
}

@font-face {
  font-family: "Phosphate";
  src: url("../assets/fonts/phosphate.ttc");
}

body {
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Anonymous Pro", monospace;
  background-color: var(--color-stark-white);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 1rem;
  margin: 0;
}

h2,
h3 {
  font-size: 1rem;
  /* font-weight: normal; */
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  /* color: var(--color-orange); */
}

/* #logo {
  color: red;
} */

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-orange);
}

input:focus,
video:focus {
  outline: none;
}

.material-icons {
  color: var(--color-black-magic);
  text-align: center;
}

.social-icons i:hover {
  color: var(--color-orange);
}
